### Introduction To Python

In [2]:
print("Hello World")

Hello World

### Comment

In [3]:
# This is comment 
## Usually it's use for reminder / explanation the code below or above

### Variabel

In [4]:
J = 74
print(J)

74

In [5]:
Nama = "Hero"
print(Nama)

Hero

##### Penamaan Variabel yang tepat:

In [6]:
Nama = 'Hero'
Umur = 42
Tinggi_Badan = 178

TempatTanggalLahir =

SyntaxError: invalid syntax (2576233994.py, line 5)

#### Penamaan Variabel yang tidak tepat:

In [ ]:
Tempat Tanggal Lahir =  #Mempunyai spasi diantara nya
Ud37 = #Tidak Jelas / tidak mempunyai kepanjangan
Status!!! = #Mempunyai karakter khusus

### Tipe Data Python

In [7]:
# String

'''
String adalah tipe data yang berupa kata dan
untuk mendeklarasikan tipe data menjadi string gunakan

" " atau ' '

'''

Nama_Universitas = "Politeknik Negeri Semarang\n"
print(Nama_Universitas)

'''

Kita harus kosisten dalam menggunakan tanda petik jika tidak akan terjadi eror

'''

A = "Hi B, How are you doing?"
B = "Hey A, I fine BTW are you getting close with C aren't ya??"
Convo = (f"Convo: \n{A}, \n{B} ")
print(Convo)


Qoutes = "\nDon't Givee Up , if it's feels Hard \nPush Through it"
print(Qoutes)
print(type(Qoutes))

Politeknik Negeri Semarang

Convo:
Hi B, How are you doing?,
Hey A, I fine BTW are you getting close with C aren't ya??

Don't Givee Up , if it's feels Hard
Push Through it
<class 'str'>

In [8]:
## Numeric

'''

Int = 1,2,3,5  Integer adalah tipe data berupa numerik yang bilangan nya bulat atau nilai utuh

Float = 3.41, 184,5, 99,313  Float adalah tipe data numerik yang mempunyai koma atau nilai desimal/pecahan

Complex = 38j Bilangan Komplex seperti bilangan imajiner

'''


# Integer

tahun = 2025
BulanKe = 7
tanggal = 23


# Float 
volume_pi = 3.14
tinggi_badan = 175.6
berat_badan = 85.7
suhu = 35.1

# Complex
a = 4 + 8j
b = 7
c = complex(3, -1)

In [9]:
### Sequence Types / Urutan(ordered)

'''
Semua Sequence Types dapat menampung banyak data
'''

# List:
A = [13, 41, 15, 9, 31, 31] 
A_1 = ["Hai", "Hello", "Ola", "Bonjour"]
A_2 = [15, "Jack", "Reaper", 38.4]
print(f"\nTipe Data A = {type(A)}\n")
print(f"Isi A: {A}")
print(f"Isi A_1: {A_1}")
print(f"Isi A_2: {A_2}")


'''
Bisa diubah (mutable)

Tersusun secara urut (ordered)

Boleh memiliki elemen duplikat

Bisa berisi berbagai tipe data (int, float, string, dll)
'''

Tipe Data A = <class 'list'>

Isi A: [13, 41, 15, 9, 31, 31]
Isi A_1: ['Hai', 'Hello', 'Ola', 'Bonjour']
Isi A_2: [15, 'Jack', 'Reaper', 38.4]

'\nBisa diubah (mutable)\n\nTersusun secara urut (ordered)\n\nBoleh memiliki elemen duplikat\n\nBisa berisi berbagai tipe data (int, float, string, dll)\n'

In [10]:
## Range

''''

Usually used in loops and for count an number or index

'''

for i in range(0, 10, 2):
    print(i)


###

number_start = 0
number_end = 13
target = 7
for i in range(number_start, number_end):
    print(i ,end=' ')
    if i == target:
        print(f"\nAngka yang dicari adalah: {target}")
        break

0
2
4
6
8
0 1 2 3 4 5 6 7
Angka yang dicari adalah: 7

In [11]:
# Tuple

'''

Menggunakan () , Tidak dapat dirubah, Urut, Memiliki nilai duplikat

'''

nama = ('Anto', 'Budi', 'Cahaya', 'Dani', 'Eci')
print(type(nama))


# Contoh Method dengan tuple:

usia = (52, 19, 20, 48, 31, 19, 18, 17, 48, 44, 52)

print(f"\nUsia Pria 52 ada: {usia.count(52)}")
print(f"\nUsia Pria 19 ada: {usia.count(19)}")

<class 'tuple'>

Usia Pria 52 ada: 2

Usia Pria 19 ada: 2

### Mapping & Set Type

In [12]:
## Dict (Dictionaries)

info = {
    "Nama": "Yafi",
    "Usia": 20,
    "Kelamin": "Laki-Laki"
}

print(info)



''''

Dictionaries itu Urut, Dapat diubah, Dan tidak memperbolehkan duplikat

'''

print(info["Kelamin"])

print(len(info)) ## Print banyak nya items pada dict

{'Nama': 'Yafi', 'Usia': 20, 'Kelamin': 'Laki-Laki'}
Laki-Laki
3

In [13]:
info = {
    "Nama": "Yafi",
    "Usia": 20,
    "Kelamin": "Laki-Laki",
    "Kelamin": "Perempuan"
}

print(info["Kelamin"])

Perempuan

##### Akan Overwrite value sebelumnya

In [14]:
Mobil = {
    "Merk": "Mitsubishi",
    "Nama Mobil": "Xpander Cross",
    "Tahun Keluaran": 2024,
    "Varian Warna": ['Green Bronze Metallic', 'Quartz White Pearl', 'Jet Black Mica'],
    "Varian": ["Premium CVT", "MT"]
}

print(Mobil["Varian Warna"])
print(f"\n{Mobil["Varian"]}")
print(len(Mobil))

['Green Bronze Metallic', 'Quartz White Pearl', 'Jet Black Mica']

['Premium CVT', 'MT']
5

In [15]:
## Set

'''

Digunakan untuk menyimpan banyak item dalam satu variabel

Ciri-ciri Set:

Tidak Berurutan,
Tidak dapat diubah (immutable)
Tidak mempunyai index pasti

'''

'\n\nDigunakan untuk menyimpan banyak item dalam satu variabel\n\nCiri-ciri Set:\n\nTidak Berurutan,\nTidak dapat diubah (immutable)\nTidak mempunyai index pasti\n\n'

In [16]:
contoh_set = {"Anna", "Johnny", "James", "Fahrid"}
print(contoh_set)
print(f"\n {type(contoh_set)}")

{'Fahrid', 'James', 'Anna', 'Johnny'}

 <class 'set'>

In [17]:
buah_set = {"Apel", "Mangga", "Durian", "Pepaya", "Apel"}
print(buah_set)

{'Apel', 'Durian', 'Mangga', 'Pepaya'}

##### Hasil apel , item yang berada di ahkir list akan tidak dihitung karena nilai nya sama yang menjadikan nya duplikat

In [18]:
### 

rndm_set = {"Johnny", 31, True, False, 1, 2} # 1 tidak akan muncul ketika di print karena nilai nya == dengan True
print(rndm_set)

{False, True, 2, 'Johnny', 31}

In [26]:
## Frozenset

'''

Hampir sama dengan set tetapi frozenset benar benar tidak dapat diubah sepeti : Add, Alter, Update, Delete

ciri-ciri frozenset = (['Nama_Variabel', 00])

'''


tanggal_lahir = "01-11-1999"
FixVariabel = frozenset(tanggal_lahir.split('-'))
print(FixVariabel)

frozenset({'01', '1999', '11'})

#### Finish